@import "tailwindcss";

body {
  font-family: "MaruBuri";
  margin: auto;
  max-width: 774px;
  text-align: center;
  color: #111;
}
.katibeh-regular {
  font-family: "Katibeh", serif;
  font-weight: 400;
  font-style: normal;
}
.default-btn {
  @apply w-full py-1 px-2 border border-black/10 rounded-md text-sm min-h-10;
}
